---
import NestedSummary from "../components/NestedSummary.astro";
import { IT_CARRIER_SUMMARY_SETTINGS } from "../consts";
import Layout from "../layouts/BlogPost.astro";
---

<Layout
  title="TakashiAihara's Skill Sets"
  description="TakashiAihara's Skill Sets"
  pubDate={new Date("July 25 2023")}
  updatedDate={new Date("July 25 2023")}
>
  <h2>This page is work in progress. I'm sorry.</h2>
  <NestedSummary summaries={IT_CARRIER_SUMMARY_SETTINGS} />
</Layout>

<style></style>
