---
import { TWITTER_URL } from "../consts";
import A from "./A.astro";
---

<div>
  <p>
    If you are interested in me, you can find more detailed information about me
    in my <A name="bio" />.
  </p>
  <p>
    Also, if you are in the IT field, please take a look at my <A
      name="skills"
    /> and <A name="portfolio" />.
  </p>
  <p>
    I plan to update my <A name="blog" /> regularly.
  </p>
  <p>
    If you would like to get in touch, please send me a direct message on <a
      href={TWITTER_URL}
      target="_blank">Twitter(X)</a
    >!
  </p>
</div>

<style>
  p {
    margin: 0;
    font-size: 0.9rem;
  }
</style>
