---
import type { HTMLAttributes } from "astro/types";
import { Icon } from "astro-icon";

type Props = HTMLAttributes<"a"> & {
  icon: string;
  name: string;
  color: string;
};

const { color, icon, name, href, class: className, ...props } = Astro.props;
---

<a {href} target="_blank" {...props}>
  <div>
    <Icon
      name={icon}
      style={`width: 24px; text-align: center; color: ${color}`}
    />
  </div>
</a>
<style>
  div {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
</style>
