---
interface Summary {
  summary: string;
  year: number;
}

interface Props {
  summaries: Summary[];
}

const { summaries } = Astro.props;
---

<div>
  {
    summaries.map(({ summary, year }) => (
      <ul>
        <li>{summary}</li>
        <li>- {year} years</li>
      </ul>
    ))
  }
</div>

<style>
  div {
    max-width: 500px;
    margin-bottom: 2.5rem;
  }

  ul {
    list-style-type: none;
    display: flex;
    justify-content: space-between;
    margin: 0 0 5px 0;
  }
</style>
